# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Django
db.sqlite3

# Static/media
staticfiles/
media/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db